html,
body {
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  @mixin defaultFont;
  background-color: $(pageBgColor);
}

a {
  color: $(defaultLinkColor);
  &:hover {
    color: $(defaultHoveredLinkColor);
  }
  &:visited {
    opacity: .8;
  }
}

h1 {
  @mixin titleFont;
}
